In [1]:
from sklearn.tree import DecisionTreeClassifier

In [2]:
import pandas as pd

In [3]:
import numpy as np
import matplotlib as plt
import seaborn as sb

In [4]:
data = read_csv('./weather.csv')

NameError: name 'read_csv' is not defined

In [5]:
data = pd.read_csv('./weather.csv')

In [6]:
data

     Outlook  Temp Humidity  Windy  Play
0      rainy   hot     high      0     0
1      rainy   hot     high      1     0
2   overcast   hot     high      0     1
3      sunny  mild     high      0     1
4      sunny  cool   normal      0     1
5      sunny  cool   normal      1     0
6   overcast  cool   normal      1     1
7      rainy  mild     high      0     0
8      rainy  cool   normal      0     1
9      sunny  mild   normal      0     1
10     rainy  mild   normal      1     1
11  overcast  mild     high      1     1
12  overcast   hot   normal      0     1
13     sunny  mild     high      1     0

In [7]:
data.summary()

AttributeError: 'DataFrame' object has no attribute 'summary'

In [8]:
summary(data)

NameError: name 'summary' is not defined

In [9]:
data.summarise()

AttributeError: 'DataFrame' object has no attribute 'summarise'

In [10]:
data.describe()

           Windy       Play
count  14.000000  14.000000
mean    0.428571   0.642857
std     0.513553   0.497245
min     0.000000   0.000000
25%     0.000000   0.000000
50%     0.000000   1.000000
75%     1.000000   1.000000
max     1.000000   1.000000

In [11]:
weather_data_x = data.drop('Play',axis=1)
weather_data_y = data['Play']

In [93]:
weather_data_x

     Outlook  Temp Humidity  Windy
0      rainy   hot     high      0
1      rainy   hot     high      1
2   overcast   hot     high      0
3      sunny  mild     high      0
4      sunny  cool   normal      0
5      sunny  cool   normal      1
6   overcast  cool   normal      1
7      rainy  mild     high      0
8      rainy  cool   normal      0
9      sunny  mild   normal      0
10     rainy  mild   normal      1
11  overcast  mild     high      1
12  overcast   hot   normal      0
13     sunny  mild     high      1

In [13]:
weather_datax_enc = pd.get_dummies(weather_data_x)
weather_datax_enc.head()

,Windy,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temp_cool,Temp_hot,Temp_mild,Humidity_high,Humidity_normal
0,0,0,1,0,0,1,0,1,0
1,1,0,1,0,0,1,0,1,0
2,0,1,0,0,0,1,0,1,0
3,0,0,0,1,0,0,1,1,0
4,0,0,0,1,1,0,0,0,1

In [14]:
from sklearn.model_selection import train_test_split

In [136]:
X_train,X_test,y_train,y_test = train_test_split(weather_datax_enc,weather_data_y,test_size = 0.2)

In [137]:
from sklearn.metrics import accuracy_score

In [162]:
dtree = DecisionTreeClassifier(max_depth=2)

In [163]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=2)

In [164]:
train_predictions = dtree.predict(X_train)
test_predictions = dtree.predict(X_test)

In [165]:
train_acc = accuracy_score(y_train,train_predictions)
test_acc = accuracy_score(y_test,test_predictions)

In [166]:
print(train_acc)
print(test_acc)

0.8181818181818182
0.6666666666666666